<h1>MAKE A FUCKIN' PIE CHART</h1>


<% form_remote_for :chart, :url => charts_path, :html => { :id => 'chart_form' },	
	:before   => %(Element.show('spinner'), (Element.hide('thing'))),
    :success  => %(Element.hide('spinner'), (Element.show('thing'))) do |f| %>

  <p>
    <%= f.label :chart_title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :thing_to_chart %><br />
    <%= f.text_field :thing1 %>
	<%= f.label :how_many? %>
	<%= f.text_field :thing1amount %> 
  </p>	
  <p>
    <%= f.label :another_thing_to_chart %><br />
    <%= f.text_field :thing2 %>
	<%= f.label :how_many? %>
	<%= f.text_field :thing2amount %>
	<%= link_to_remote "Add another thing?", :url => { :action => 'create' } %>
  </p>
  <p>
    <div id="thingsmore" style="display:none">
    <%= f.label :another_thing_to_chart %><br />
    <%= f.text_field :thing3 %>
	<%= f.label :how_many? %>
	<%= f.text_field :thing3amount %>
	<%= link_to_remote "Add another thing?", :url => { :action => 'create2' } %>
  </p>
    </div>
    <div id="thingsmore2" style="display:none">
  <p>
    <%= f.label :another_thing_to_chart %><br />
    <%= f.text_field :thing4 %>
	<%= f.label :how_many? %>
	<%= f.text_field :thing4amount %>
	<%= link_to_remote "Add another thing?", :url => { :action => 'create3' } %>
  </p>
   </div>
	<div id="thingsmore3" style="display:none">
  <p>
    <%= f.label :another_thing_to_chart %><br />
    <%= f.text_field :thing5 %>
	<%= f.label :how_many? %>
	<%= f.text_field :thing5amount %>
  </p>
	</div>
  <p>
    <%= f.submit "MAKE A FUCKIN' PIE CHART" %><%= image_tag 'spinner.gif', :id => 'spinner', :style => 'display:none' %>
  </p>
<% end %>

<div id="thing" style="display:none">
<%= render :partial => 'thing' %>
</div>
