<center>
<p>
<img src="http://chart.apis.google.com/chart?&chs=750x300&chd=t:<%= @chart.thing1amount %>,<%= @chart.thing2amount %>,<%= @chart.thing3amount %>,<%= @chart.thing4amount %>,<%= @chart.thing5amount %>&cht=p3&chtt=<%= @chart.title %>&chl=<%= @chart.thing1 %>|<%= @chart.thing2 %>|<%= @chart.thing3 %>|<%= @chart.thing4 %>|<%= @chart.thing5 %>" />
</p>
</center>
